/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */

h1 {
	text-align: center;
}

#divMass, #divNME {
	display: none;
}

.addrem {
	margin-top: 10px;
}

#textareaReport {
	max-width: 70em;
	height: 17em;
	margin-top: 10px;
	padding: 5px;
	background-color: #ebebeb;
	color: #000000;
	overflow-y: auto;
	font-weight: 400;
}

#btnCirc {
	margin-right: 5px;
}

.lesions {
	border: 0px;
}
