/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */
input {
	font-weight: 400;
}

#inputLoc {
	width: 100%;
	max-width: 20em;
}

#inputSize {
	width: 12em;
	max-width: 100%;
}

h1 {
	text-align: center;
}

#divMass, #divNME {
	display: none;
}

.addrem {
	margin-top: 10px;
}

#textareaReport {
	max-width: 70em;
	height: 17em;
	margin-top: 10px;
	padding: 5px;
	background-color: #ebebeb;
	color: #000000;
	overflow-y: auto;
	font-weight: 400;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-o-user-select: text;
	user-select: text;
}

button.lesions {
	margin: 1px !important;
}

#lesionList button.active {
	background-color: #c9302c;
	border-color: #ec971f;
	border-style: solid;
	/*font-weight: 900;*/
}

#lesionType button {
	border: solid 1px #485563;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.popover {
	font-weight: 300;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
